
.DS_Store
keychain-sample-chat-android/.gradle/7.3.3/checksums/checksums.lock
keychain-sample-chat-android/.gradle/7.3.3/checksums/md5-checksums.bin
keychain-sample-chat-android/.gradle/7.3.3/checksums/sha1-checksums.bin
keychain-sample-chat-android/.gradle/7.3.3/dependencies-accessors/dependencies-accessors.lock
keychain-sample-chat-android/.gradle/7.3.3/dependencies-accessors/gc.properties
keychain-sample-chat-android/.gradle/7.3.3/executionHistory/executionHistory.bin
keychain-sample-chat-android/.gradle/7.3.3/executionHistory/executionHistory.lock
keychain-sample-chat-android/.gradle/7.3.3/fileChanges/last-build.bin
keychain-sample-chat-android/.gradle/7.3.3/fileHashes/fileHashes.bin
keychain-sample-chat-android/.gradle/7.3.3/fileHashes/fileHashes.lock
keychain-sample-chat-android/.gradle/7.3.3/fileHashes/resourceHashesCache.bin
keychain-sample-chat-android/.gradle/7.3.3/gc.properties
keychain-sample-chat-android/.gradle/7.4.1/executionHistory/executionHistory.bin
keychain-sample-chat-android/.gradle/7.4.1/executionHistory/executionHistory.lock
keychain-sample-chat-android/.gradle/7.4.1/fileHashes/fileHashes.bin
keychain-sample-chat-android/.gradle/7.4.1/fileHashes/fileHashes.lock
keychain-sample-chat-android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
keychain-sample-chat-android/.gradle/buildOutputCleanup/cache.properties
keychain-sample-chat-android/.gradle/buildOutputCleanup/outputFiles.bin
keychain-sample-chat-android/.gradle/file-system.probe
keychain-sample-chat-android/.gradle/vcs-1/gc.properties
keychain-sample-chat-android/.idea/assetWizardSettings.xml
keychain-sample-chat-android/.idea/compiler.xml
keychain-sample-chat-android/.idea/gradle.xml
keychain-sample-chat-android/.idea/jarRepositories.xml
keychain-sample-chat-android/.idea/libraries/Gradle____app_libs_acssmc_1_1_5_jar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_activity_activity_1_2_4_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_annotation_annotation_1_2_0.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_3_1_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_3_1_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_1_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_core_core_1_5_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_fragment_fragment_1_4_0_alpha01_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_3_1.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_extensions_2_2_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_2_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_1_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_process_2_2_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_3_1_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_service_2_2_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_1_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_1_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_preference_preference_1_1_1_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_test_core_1_4_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_4_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_4_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_test_ext_junit_1_1_3_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_test_monitor_1_4_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_test_runner_1_4_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_test_services_storage_1_4_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__com_github_stfalcon_chatkit_0_3_3_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__com_google_android_material_material_1_4_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1.xml
keychain-sample-chat-android/.idea/libraries/Gradle__com_google_code_gson_gson_2_9_0.xml
keychain-sample-chat-android/.idea/libraries/Gradle__com_google_zxing_core_3_3_0.xml
keychain-sample-chat-android/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1.xml
keychain-sample-chat-android/.idea/libraries/Gradle__de_hdodenhof_circleimageview_3_1_0_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__io_keychain_libkeychain_android_2_4_9_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
keychain-sample-chat-android/.idea/libraries/Gradle__junit_junit_4_12.xml
keychain-sample-chat-android/.idea/libraries/Gradle__junit_junit_4_13_1.xml
keychain-sample-chat-android/.idea/libraries/Gradle__me_dm7_barcodescanner_core_1_9_8_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__me_dm7_barcodescanner_zbar_1_9_8_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__me_dm7_barcodescanner_zxing_1_9_8_aar.xml
keychain-sample-chat-android/.idea/libraries/Gradle__org_eclipse_paho_org_eclipse_paho_android_service_1_1_1.xml
keychain-sample-chat-android/.idea/libraries/Gradle__org_eclipse_paho_org_eclipse_paho_client_mqttv3_1_2_4.xml
keychain-sample-chat-android/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
keychain-sample-chat-android/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3.xml
keychain-sample-chat-android/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
keychain-sample-chat-android/.idea/misc.xml
keychain-sample-chat-android/.idea/modules.xml
keychain-sample-chat-android/.idea/modules/app/keychain-sample-chat-android.app.androidTest.iml
keychain-sample-chat-android/.idea/modules/app/keychain-sample-chat-android.app.iml
keychain-sample-chat-android/.idea/modules/app/keychain-sample-chat-android.app.main.iml
keychain-sample-chat-android/.idea/modules/app/keychain-sample-chat-android.app.unitTest.iml
keychain-sample-chat-android/.idea/modules/keychain-sample-chat-android.iml
keychain-sample-chat-android/.idea/vcs.xml
keychain-sample-chat-android/.idea/workspace.xml
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/Info.plist
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/_CodeSignature/CodeResources
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Frameworks/libkeychain.dylib
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Asset.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Certificate.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Constants.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Contact.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Facade.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Gateway.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Keychain.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/LedgerResult.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/LedgerTransaction.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Persona.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/PersonaStatus.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/SecurityLevel.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Uri.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Verification.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/WrapperErrorCodes.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Info.plist
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Keychain-ObjectiveC
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/_CodeSignature/CodeResources
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Frameworks/libkeychain.dylib
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Asset.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Certificate.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Constants.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Contact.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Facade.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Gateway.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Keychain.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/LedgerResult.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/LedgerTransaction.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Persona.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/PersonaStatus.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/SecurityLevel.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Uri.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Verification.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/WrapperErrorCodes.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Info.plist
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Keychain-ObjectiveC
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Headers
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Keychain-ObjectiveC
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Resources
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/_CodeSignature/CodeResources
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Frameworks/libkeychain.dylib
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Asset.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Certificate.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Constants.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Contact.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Facade.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Gateway.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Keychain.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/LedgerResult.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/LedgerTransaction.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Persona.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/PersonaStatus.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/SecurityLevel.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Uri.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Verification.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/WrapperErrorCodes.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Keychain-ObjectiveC
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Resources/Info.plist
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/Current
keychain-sample-chat-iphone/KeychainChat.xcodeproj/project.xcworkspace/xcuserdata/GoodAirman.xcuserdatad/UserInterfaceState.xcuserstate
keychain-sample-chat-iphone/KeychainChat.xcodeproj/project.xcworkspace/xcuserdata/GoodAirman.xcuserdatad/UserInterfaceState.xcuserstate
keychain-sample-chat-android/.idea/deploymentTargetDropDown.xml
.idea/dbnavigator.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/keychain-solution-template-chat.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
keychain-sample-chat-iphone/KeychainChat.xcodeproj/project.xcworkspace/xcuserdata/GoodAirman.xcuserdatad/UserInterfaceState.xcuserstate
