**/keychain.cfg
.cxx/
.DS_Store
keychain-sample-chat-android/.gradle/
keychain-sample-chat-android/.idea/
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/Info.plist
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/_CodeSignature/CodeResources
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Frameworks/libkeychain.dylib
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Asset.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Certificate.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Constants.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Contact.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Facade.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Gateway.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Keychain.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/LedgerResult.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/LedgerTransaction.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Persona.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/PersonaStatus.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/SecurityLevel.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Uri.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/Verification.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Headers/WrapperErrorCodes.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Info.plist
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-arm64/Keychain-ObjectiveC.framework/Keychain-ObjectiveC
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/_CodeSignature/CodeResources
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Frameworks/libkeychain.dylib
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Asset.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Certificate.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Constants.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Contact.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Facade.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Gateway.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Keychain.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/LedgerResult.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/LedgerTransaction.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Persona.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/PersonaStatus.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/SecurityLevel.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Uri.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/Verification.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Headers/WrapperErrorCodes.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Info.plist
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/ios-x86_64-simulator/Keychain-ObjectiveC.framework/Keychain-ObjectiveC
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Headers
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Keychain-ObjectiveC
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Resources
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/_CodeSignature/CodeResources
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Frameworks/libkeychain.dylib
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Asset.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Certificate.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Constants.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Contact.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Facade.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Gateway.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Keychain.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/LedgerResult.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/LedgerTransaction.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Persona.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/PersonaStatus.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/SecurityLevel.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Uri.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/Verification.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Headers/WrapperErrorCodes.h
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Keychain-ObjectiveC
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/A/Resources/Info.plist
keychain-sample-chat-iphone/KeychainChat/Keychain-ObjectiveC.xcframework/macos-x86_64/Keychain-ObjectiveC.framework/Versions/Current
keychain-sample-chat-iphone/KeychainChat.xcodeproj/project.xcworkspace/xcuserdata/
