<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="KeychainConfigFile" value="C:\KeychainChat\config\keychain.cfg" />
    <add key="KeychainDropSqlFile" value="C:\KeychainChat\config\drop_keychain.sql" />
    <add key="KeychainCreateSqlFile" value="C:\KeychainChat\config\keychain.sql" />
    <add key="DBPath" value="C:\KeychainChat\data\keychain.db" />
    <add key="ChatDBPath" value="C:\KeychainChat\data\chats.db" />
    <add key="MqttHost" value="54.65.160.194" />
    <add key="MqttPort" value="1883" />
    <add key="MqttConnectTimeout" value="30"/>
    <add key="MqttKeepAliveSeconds" value="60"/>
    <add key="MqttChannelPairing" value="UAT/chat/pairing/"/>
    <add key="MqttChannelChats" value="UAT/chat/messages/"/>
    <add key="DirectoryHost" value="54.65.160.194"/>
    <add key="DirectoryPort" value="3301"/>
    <add key="DirectoryDomainPrefix" value="MULTI-chat-"/>
    <add key="PairingDomain" value="keychain-chat"/>
    <add key="RefreshInterval" value="3"/>
  </appSettings>
</configuration>